---
import "../assets/global.css";
import ZhHead from "../components/ZhHead.astro";
const DemoList = [
  "/NoJs",
  "/AppSpllit",
  "/AppSpllitByAsync",
  "/ServerFetchData",
];
---

<ZhHead />

<div class="container">
  <div>
    {
      DemoList.map((url) => {
        return (
          <div>
            <a href={url}>go to demo - {url.split("/")[1]}</a>
          </div>
        );
      })
    }
  </div>
</div>

<style lang="less">
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
